<!-- Contact Section -->
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2 text-center">
        <h2 class="section-heading">Get in touch</h2>
        <h3 class="section-subheading">
          <span class="sw-contact-subtext">If you would like more information please contact us and we'll get in touch as soon as possible</span>
        </h3>
      </div>
    </div>
    <div class="row contact-container">
      <div class="col-xs-offset-2 col-xs-8 contact-info">
       <%= simple_form_for @contact, html: {method: :post, class: "contact-form", novalidate: true} do |f| %>
       <div class="row">
        <div class="input-field col-sm-6 row-space-top-2">
          <%= f.input :name, label: "Full Name", input_html: {name: "name", id: 'name', class: "form-control"} %>
        </div>
        <div class="input-field col-sm-6 row-space-top-2">
          <%= f.input :email, input_html: {name: "email", id: 'email', class: "form-control"} %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col-sm-6 row-space-top-2">
          <%= f.input :organization, label: "Organization (Optional)", input_html: {name: "organization", id: 'organization', class: "form-control"} %>
        </div>
        <div class="input-field col-sm-6 row-space-top-2">
          <%= f.input :phone, label: "Telephone (Optional)", as: :tel, input_html: {name: "phone", id: 'phone', class: "form-control"} %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col-sm-12 row-space-top-2">
          <%= f.input :message, as: :text, input_html: {name: "message", id: 'message',class: "form-control", rows:"5"} %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 text-right row-space-top-3">
          <%= f.button :submit, "Send", class: "btn btn-xl btn-white" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
</section>
