<h2>New SPDash Message</h2>
<hr>
Name: <%= @contact.name %><br>
Email: <%= @contact.email %><br>
Organization: <%= @contact.organization %><br>
Telephone: <%= @contact.phone %><br>
Message: <%= @contact.message %><br>
